.searchButton {
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #000000;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  background: #ffffff;
  outline: none;

  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.searchButton:hover {
  border: 1px solid #000000;
  color: #ffffff;
  background: #000000;
}
