.exportButton {
  cursor: pointer;
  width: 15vh;
  height: 45px;
  border-radius: 30px;
  border: 0px solid #000000;
  font-size: 1.5vh;
  color: #000000;
  letter-spacing: 1px;
  background: #d3d3d3;
  outline: none;

  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.exportButton:hover {
  color: #ffffff;
  background: #000000;
}
