.searchInput {
  -webkit-appearance: none;
  appearance: none;

  width: 400px;
  height: 60px;
  padding: 0px 20px;
  border: 1px solid #848884;
  border-radius: 5px;
  font-size: 30px;
  color: #000000;
  text-align: center;
  background-color: #faf9f6;
  outline: none;

  box-shadow: 0 0 20px rgba(0, 150, 255, 0);
  transition:
    box-shadow 0.4s ease,
    border 0.2s ease;
}

.searchInput:focus {
  border: 2px solid #0096ff;
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.7);
}
